.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: flex;


    .modal-container{
        background-color: #fff;
        width: 500px;
        min-height: 200px;
        position: relative;
        max-width: calc(100% - 32px);
        border-radius: 10px;
        animation: modalfacein ease 0.5s;
        
        
        .modal-close{
            right: 0;
            top: 0;
            position: absolute;
            padding: 5px 5px 0;
            cursor: pointer;
            opacity: 0.9;
            color: #fff;
            border-top-right-radius: 10px;
            font-size: 15px;

            .icon-close{
                
            }
        }

        .modal-close:hover{
            background-color: #cf4b4b;
            color: #000;   
        }

        .modal-header{
            color: #fff;
            background-color: #009688;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .icon-header{
                margin-right: 10px;
            }
        }

        .modal-body{
            padding: 16px;

            .modal-form{
                display: block;
                justify-content: space-between;
                margin: 20px 0px;
                
                .modal-label{
                    display: inline-block;
                    font-size: 18px;
                }
    
                .modal-input{
                    display: inline-block;
                    float: right;
                    width: 60%;
                }
            }

            .button{
                text-align: center;
                margin-top: 25px;

                .update-publisher{
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 15px;
                    font-size: 17px;
                    background-color: #009688;
                    color: #fff;
                    border: none;

                    &:hover{
                        background-color: #1abcac;
                        cursor: pointer;
                    }

                    .icon-update{
                        margin-right: 5px;
                    }
                }
            }
        }

    }
}

