.navbar{
    height: 50px;
    border-bottom: 0.5px solid white;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;

        .search{
            border-radius: 15px;
            width: 50%;
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
        

            input{
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

    }
}